section.aantal_paginas {

  div.content_container {
    padding: 20px 20px 25px 20px;

    @media @1280 {
      padding: 20px;
    }

    @media @1000 {
      text-align: center;
    }

    @media @360 {
      text-align: center;
    }

    p {
      font-size: 13.5px;
      color: #000000;

      &.nav-text {
        margin: 0 0 8px 0;

        @media @680 {
          display: none;
        }
      }

      &.nav-text_small {
        display: none;

        @media @360 {
          display: block;
          margin-bottom: 10px;
        }
      }
    }

    div.aantal_pages {
      display: inline-block;

      @media @360 {
        text-align: center;
      }

      //styling van de gerenderde html
      .pagination {
        margin: 0;

        a {
          display: inline-block;
          width: 100%;
          height: 100%;
        }

        .page_indicator {
          display: inline-block;
          padding: 5px 0;
          line-height: 27px;
          height: 40px;
          width: 40px;
          border: solid 1px #cdcccc;
          text-align: center;
          margin-top: 1px;
        }

        .page {
          text-align: center;
          display: inline-block;
          width: 40px;
          height: 40px;
          background-color: #ffffff;
          margin-right: 4px;
          line-height: 40px;
          margin-top: 1px;
          border: solid 1px #cdcccc;

          &.current {
            color: #f35026;
            border: solid 2px #f35026;
          }

          a {
            font-size: 13.5px;
            color: #555555;
          }
        }

        .next, .prev {
          vertical-align: top;
          display: inline-block;
          width: 41px;
          height: 41px;
          //margin-right: 4px;
          font-size: 0;
          line-height: 40px;
          background-size: cover;
        }

        .next {
          background: image-url('search_arrow_right.png') no-repeat center;
        }

        .prev {
          background: image-url('search_arrow_left.png') no-repeat center;
        }

        .first, .last {
          display: none;
        }
      }
    }

    div.compare_btn {
      width: 239px;
      height: 40px;
      border-radius: 42px;
      background-color: #dddddd;
      color: white;
      line-height: 40px;
      text-align: center;
      display: inline-block;
      margin-right: 40px;

      @media @1100 {
        margin-right: 20px;
      }

      @media @1040 {
        display: none;
      }

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }

    div.page_search {
      float: right;
      display: inline-block;
      padding: 0 0 0 10px;
      font-size: 13.5px;
      color: #555555;

      @media @1000 {
        display: block;
        float: none;
        margin-top: 15px;
      }

      @media @680 {
        display: none;
      }

      @media @360 {
        display: inline-block;
      }

      div.col {
        display: inline-block;
        margin-right: 20px;

        @media @640 {
          display: block;
          margin: 0 auto;
          width: 280px;
        }

        @media @360 {
          width: 200px;
        }

        &:last-child {
          margin: 0;

          @media @640 {
            margin: 15px auto 0 auto;
          }
        }

        &.small_not_visible {

          @media @360 {
            display: none;
          }
        }

        .select2-selection--single {
          background-color: #e6e6e6;
        }
      }

      .select2-container {

        @media @360 {
          width: 200px !important;
        }
      }

      .select2-selection {

        @media @360 {
          width: 200px;
        }
      }
    }
  }
}

section.select_compare {

  @media @1040 {
    display: none;
  }

  div.content_container {
    //padding: 0 110px 0 110px;

    @media @1280 {
      //padding: 0 20px 0 20px;
    }

    div.compare_selection {
      display: none;
      margin-top: 10px;
      padding: 20px;
      min-height: 440px;
      background-color: #f1f1f1;
      margin-bottom: 20px;

      &.active {
        display: flex;

        @media @1279 {
          display: block;
          padding: 30px;
        }
      }

      //@media @1279 {
      //  display: block;
      //  padding: 30px;
      //}

      .remove_cross {
        background: image-url('cross_afspraak.svg') no-repeat center;
        background-size: cover;
        width: 20px;
        height: 20px;
        position: absolute;

        &:hover {
          cursor: pointer;
        }
      }

      div.start_compare {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 260px;
        margin-right: 15px;
        padding-top: 140px;
        height: 100%;

        @media @1279 {
          display: block;
          height: auto;
          padding: 0;
        }

        div.remove_cross {
          left: 0;
          top: 10px;

          @media @1279 {
            left: 0;
            top: 6px;
          }
        }

        p {
          font-size: 21px;
          color: #595959;
          margin-bottom: 15px;

          @media @1279 {
            text-align: right;
          }
        }

        .orange_btn {
          display: inline-block;
          width: 260px;
        }
      }

      ul {
        flex-grow: 2;
        display: inline-block;

        @media @1280 {
          text-align: center;
        }

        @media @1279 {
          display: block;
          margin-top: 20px;
          text-align: left;
        }

        li {
          position: relative;
          text-align: center;
          display: inline-block;
          padding-right: 10px;

          .article_car {
            margin: 0 auto;
          }

          a.remove_cross {
            top: 10px;
            right: 20px;
            z-index: 50;
          }
        }
      }
    }

    div.overlay_compare {
      display: none;
    }
  }
}

section.compare_select_container {

  section.aantal_paginas {

    div.content_container {
      padding: 20px 110px 25px 110px;

      @media @1280 {
        padding: 20px;
      }
    }
  }

  section.select_compare {

    div.content_container {
      padding: 0 110px 0 110px;

      @media @1280 {
        padding: 0 20px 0 20px;
      }
    }
  }
}