<section class="disclaimer">
  <div class="wrapper">
    <div class="container-fluid content_container">
      <%= render 'shared/adress' %>

      <div class="content">
        <h3><%= phrase 'disclaimer' %></h3>
        <p>
          <%= phrase 'disclaimer-content' %>
        </p>
      </div>
    </div>
  </div>
</section>