<section class="disclaimer">
  <div class="wrapper">
    <div class="container-fluid content_container">
      <%= render 'shared/adress' %>

      <div class="content">
        <h3><%= pagina_titel.value %></h3>
        <p>
          <%= pagina_content.value.html_safe %>
        </p>
      </div>
    </div>
  </div>
</section>