<div class="form-group">

  <div class="col-sm-10 col-sm-push-2">
    <div class="i-checks">
      <%= f.label f.object.newsletter_template_value.option_name.to_sym, class: 'control-label' do %>
          <%= f.check_box :value %> <i></i> <%= f.object.newsletter_template_value.option_name.humanize %>
      <% end %>
    </div>

  </div>

</div>