<div class="form-group">

  <%= f.label f.object.newsletter_template_value.option_name.to_sym, class: 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <div style="border: 1px solid #e5e6e7;">
      <%= f.text_area :value, class: 'summernote' %>
    </div>
  </div>

</div>