<style>
  .note-editor {
    min-height: 0;
  }
</style>

<div class="form-group">

  <%= f.label :link, 'Link', class: 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <div style="border: 1px solid #e5e6e7;">
      <%= f.text_area :link, class: 'summernote' %>
    </div>
  </div>

</div>

<div class="hr-line-dashed"></div>
<div class="form-group">
  <div class="col-sm-4 col-sm-offset-2">
    <%= link_to 'Annuleren', admin_link_partners_path, class: 'btn btn-white' %>
    <%= f.submit 'Opslaan', class: 'btn btn-primary' %>
  </div>
</div>