<div class="form-group">

  <%= f.label :value, 'Waarde', class: 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.select :value, Page.all.map {|p| [p.title, p.id]}, class: 'form-control' %>
  </div>

</div>