<section class="error">    <!-- kruimel pad moet er nog in -->
  <div class="wrapper">
    <div class="container-fluid content_container">
      <%= render '_adress.html.erb' %>

      <div class="_404_melding">
        <div class="content">
          <h3>404 pagina - Onze excuses…</h3>
          <small>De door u opgevraagde pagina of document is niet beschikbaar.</small>
        </div>

        <a href="../homepage/homepage.php" class="orange_btn">Naar de Homepage</a>
      </div>
    </div>
  </div>
</section>