<tr class="item">
  <td><%= setting.name %></td>
  <td><%= setting.display_value %></td>
  <td>
    <%= link_to 'Aanpassen', edit_admin_setting_path(setting), class: 'btn btn-primary' %>
  </td>
</tr>