<section class="select_compare">
  <div class="wrapper">
    <div class="container-fluid content_container">
      <div class="compare_btn"><%= phrase 'Autos met elkaar vergelijken' %></div>

      <div class="compare_selection animated">
        <%= render 'cars/compare_selection_cars' %>
      </div>
    </div>
  </div>
</section>