<section class="vergelijk_car">
  <div class="wrapper">
    <div class="container-fluid content_container">

      <?php include('../general/adres_contact.php'); ?>sect

      <section class="cars_vergelijken">
        <div class="first_table_section table_section">
          <table class="specificaties_table">
            <tr class="header">
              <th>
                <h4>Specificaties</h4>

                <div class="voertuigen_vergelijken">
                  <p>3 voertuigen vergelijken</p>
                  <div class="orange_btn">Verschillen tonen</div>
                </div>
              </th>
              <td class="car car1">
                <div class="car_img"
                     style="background: url(../../assets/images/car_1.png) no-repeat center; background-size: cover;"></div>
                <div class="cross"></div>
              </td>
              <td class="car car2">
                <div class="car_img"
                     style="background: url(../../assets/images/car_1.png) no-repeat center; background-size: cover;"></div>
                <div class="cross"></div>
              </td>
              <td class="car car3">
                <div class="car_img"
                     style="background: url(../../assets/images/car_1.png) no-repeat center; background-size: cover;"></div>
                <div class="cross"></div>
              </td>
            </tr>
            <tr>
              <th class="first_margin">Merk</th>
              <td class="car car1 first_margin">Mercedes-Benz</td>
              <td class="car car2 first_margin">Mercedes-Benz</td>
              <td class="car car3 first_margin">Mercedes-Benz</td>
            </tr>
            <tr>
              <th>Model</th>
              <td class="car car1">C-Klasse 180</td>
              <td class="car car2">C-Klasse 180</td>
              <td class="car car3">C-Klasse 180</td>
            </tr>
            <tr>
              <th>Type</th>
              <td class="car car1">CGI 156PK Automaat BlueEFFICIENCY Avantgarde</td>
              <td class="car car2">CGI 156PK Automaat BlueEFFICIENCY Avantgarde</td>
              <td class="car car3">CGI 156PK Automaat BlueEFFICIENCY Avantgarde</td>
            </tr>
            <tr>
              <th>Prijs</th>
              <td class="car car1">€17.900,-</td>
              <td class="car car2">€17.900,-</td>
              <td class="car car3">€17.900,-</td>
            </tr>
            <tr>
              <th>50/50 Deal</th>
              <td class="car car1">€9.500,-</td>
              <td class="car car2">€9.500,-</td>
              <td class="car car3">€9.500,-</td>
            </tr>
            <tr>
              <th>Maandbedrag</th>
              <td class="car car1">€238,-</td>
              <td class="car car2">€238,-</td>
              <td class="car car3">€238,-</td>
            </tr>
            <tr>
              <th>Carrosserie</th>
              <td class="car car1">Sedan (4 deurs)</td>
              <td class="car car2">Sedan (4 deurs)</td>
              <td class="car car3">Sedan (4 deurs)</td>
            </tr>
            <tr>
              <th>Transmissie</th>
              <td class="car car1">Automaat</td>
              <td class="car car2">Automaat</td>
              <td class="car car3">Automaat</td>
            </tr>
            <tr>
              <th>Kleur</th>
              <td class="car car1">Zwart metallic</td>
              <td class="car car2">Zwart metallic</td>
              <td class="car car3">Zwart metallic</td>
            </tr>
            <tr>
              <th>KM stand</th>
              <td class="car car1">171 km</td>
              <td class="car car2">171 km</td>
              <td class="car car3">171 km</td>
            </tr>
            <tr>
              <th>Brandstof</th>
              <td class="car car1">Benzine</td>
              <td class="car car2">Benzine</td>
              <td class="car car3">Benzine</td>
            </tr>
            <tr>
              <th>Bouwjaar</th>
              <td class="car car1">2010</td>
              <td class="car car2">2010</td>
              <td class="car car3">2010</td>
            </tr>
            <tr>
              <th>Cil. inhoud</th>
              <td class="car car1">1796 cc</td>
              <td class="car car2">1796 cc</td>
              <td class="car car3">1796 cc</td>
            </tr>
            <tr>
              <th>Aantal cil. 4</th>
              <td class="car car1">4</td>
              <td class="car car2">4</td>
              <td class="car car3">4</td>
            </tr>
            <tr>
              <th>Vermogen</th>
              <td class="car car1">156 pk</td>
              <td class="car car2">156 pk</td>
              <td class="car car3">156 pk</td>
            </tr>
            <tr>
              <th>Topsnelheid</th>
              <td class="car car1">220 km/u</td>
              <td class="car car2">220 km/u</td>
              <td class="car car3">220 km/u</td>
            </tr>
            <tr>
              <th>Interieur</th>
              <td class="car car1">Half leder / stof (Zwart)</td>
              <td class="car car2">Half leder / stof (Zwart)</td>
              <td class="car car3">Half leder / stof (Zwart)</td>
            </tr>
            <tr>
              <th>Energielabel</th>
              <td class="car car1">C</td>
              <td class="car car2">C</td>
              <td class="car car3">C</td>
            </tr>
            <tr>
              <th>Wegenbelasting</th>
              <td class="car car1">€180 - €205 p/kw</td>
              <td class="car car2">€180 - €205 p/kw</td>
              <td class="car car3">€180 - €205 p/kw</td>
            </tr>
          </table>
        </div>

        <div class="second_table_section table_section">
          <h4>Acessiores</h4>
          <table class="acessiores_table">
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• 7 persoons</td>
              <td class="car car2">• 7 persoons</td>
              <td class="car car3">• 7 persoons</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• Achterstoelen uitneembaar</td>
              <td class="car car2">• Achterstoelen uitneembaar</td>
              <td class="car car3">• Achterstoelen uitneembaar</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• Airbag(s) hoofd voor en achter</td>
              <td class="car car2">• Airbag(s) hoofd voor en achter</td>
              <td class="car car3">• Airbag(s) hoofd voor en achter</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• Airbag bestuurder en passagier</td>
              <td class="car car2">• Airbag bestuurder en passagier</td>
              <td class="car car3">• Airbag bestuurder en passagier</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• Airco (automatisch)</td>
              <td class="car car2">• Airco (automatisch)</td>
              <td class="car car3">• Airco (automatisch)</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• Alarmsysteem</td>
              <td class="car car2">• Alarmsysteem</td>
              <td class="car car3">• Alarmsysteem</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• Antiblokkeersysteem</td>
              <td class="car car2">• Antiblokkeersysteem</td>
              <td class="car car3">• Antiblokkeersysteem</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• Antislipregeling</td>
              <td class="car car2">• Antislipregeling</td>
              <td class="car car3">• Antislipregeling</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• audio-navigatie full map + hard disk</td>
              <td class="car car2">• audio-navigatie full map + hard disk</td>
              <td class="car car3">• audio-navigatie full map + hard disk</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• Audio-navigatie full map + hard disk</td>
              <td class="car car2">• Audio-navigatie full map + hard disk</td>
              <td class="car car3">• Audio-navigatie full map + hard disk</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• Autotelefoon voorbereiding</td>
              <td class="car car2">• Autotelefoon voorbereiding</td>
              <td class="car car3">• Autotelefoon voorbereiding</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• autotelefoon voorbereiding</td>
              <td class="car car2">• autotelefoon voorbereiding</td>
              <td class="car car3">• autotelefoon voorbereiding</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• Bagagedek</td>
              <td class="car car2">• Bagagedek</td>
              <td class="car car3">• Bagagedek</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• Bestuurdersstoel in hoogte verstelbaar</td>
              <td class="car car2">• Bestuurdersstoel in hoogte verstelbaar</td>
              <td class="car car3">• Bestuurdersstoel in hoogte verstelbaar</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• Binnenspiegel aut.dimmend</td>
              <td class="car car2">• Binnenspiegel aut.dimmend</td>
              <td class="car car3">• Binnenspiegel aut.dimmend</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• Boordcomputer</td>
              <td class="car car2">• Boordcomputer</td>
              <td class="car car3">• Boordcomputer</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• Buitenspiegels elektrisch verstel- en verwarmbaar</td>
              <td class="car car2">• Buitenspiegels elektrisch verstel- en verwarmbaar</td>
              <td class="car car3">• Buitenspiegels elektrisch verstel- en verwarmbaar</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• Buitentemperatuurmeter</td>
              <td class="car car2">• Buitentemperatuurmeter</td>
              <td class="car car3">• Buitentemperatuurmeter</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• Bumpers in carrosseriekleur</td>
              <td class="car car2">• Bumpers in carrosseriekleur</td>
              <td class="car car3">• Bumpers in carrosseriekleur</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• Centrale deurvergrendeling afstandbediend</td>
              <td class="car car2">• Centrale deurvergrendeling afstandbediend</td>
              <td class="car car3">• Centrale deurvergrendeling afstandbediend</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• Cruise control</td>
              <td class="car car2">• Cruise control</td>
              <td class="car car3">• Cruise control</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• 7 persoons</td>
              <td class="car car2">• 7 persoons</td>
              <td class="car car3">• 7 persoons</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• Achterstoelen uitneembaar</td>
              <td class="car car2">• Achterstoelen uitneembaar</td>
              <td class="car car3">• Achterstoelen uitneembaar</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• Airbag(s) hoofd voor en achter</td>
              <td class="car car2">• Airbag(s) hoofd voor en achter</td>
              <td class="car car3">• Airbag(s) hoofd voor en achter</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• Airbag bestuurder en passagier</td>
              <td class="car car2">• Airbag bestuurder en passagier</td>
              <td class="car car3">• Airbag bestuurder en passagier</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• Airco (automatisch)</td>
              <td class="car car2">• Airco (automatisch)</td>
              <td class="car car3">• Airco (automatisch)</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• Alarmsysteem</td>
              <td class="car car2">• Alarmsysteem</td>
              <td class="car car3">• Alarmsysteem</td>
            </tr>
            <tr>
              <td class="emty_space"></td>
              <td class="car car1">• Antiblokkeersysteem</td>
              <td class="car car2">• Antiblokkeersysteem</td>
              <td class="car car3">• Antiblokkeersysteem</td>
            </tr>
          </table>
        </div>
      </section>

      <div class="error">
        <h4>Deze optie is niet beschikbaar voor dit scherm formaat</h4>
      </div>
    </div>
  </div>
</section>