<li>
  <article class="user_recentie">
    <h4><%= review.name %></h4>
    <p><%= review.review %></p>

    <div class="beoordelings_stars">
      <%= star_rating(review.rating) %>
    </div>
  </article>
</li>