<li class="main_slides _slide5" style="background: url(<%= slide_values[:background].value.url %>) no-repeat center; background-size: cover;">

  <span class="helper"></span>
  <div class="text">
    <h2><%= slide_values[:heading].value %></h2>
    <p><%= slide_values[:sub_heading].value %></p>
  </div>
</li>