<section class="article_financieren">

  <div class="circle_container">
    <div class="orange_circle">
      <h4>50/50 Deals
        (Particulier)</h4>

      <p>Financial Lease. Zonder kapitaalverlies
        de snelste weg naar u nieuwe auto.</p>

      <a href="../financierings_pagina/financierings_pagina.php" class="orange_btn">Klik hier</a>
      <div class="white_circle"></div>
    </div>

    <div class="mini_logo"></div>
  </div>
</section>