<section class="bevind_zich">
  <div class="wrapper">
    <div class="container-fluid content_container">

      <p>
        <%= render_breadcrumbs :separator => ' • ' %>
      </p>

      <% if params[:controller] != 'home' %>
          <%= link_to '< Terug', :back, class: 'overzicht' %>
      <% end %>
    </div>
  </div>
</section>