<section class="footer">
    <section class="footer_contact">
        <div class="wrapper">
            <div class="container-fluid">
                <ul>
                    <li class="text vraag">
                        <span class="helper"></span>
                        <span class="large">Heb je een vraag?</span><span class="small">Vragen?</span> Wij zijn
                        bereikbaar via:
                    </li>

                    <li class="phone icon">
                        <span class="helper"></span>
                        <i></i>
                    </li>
                    <li class="text">
                        <span class="helper"></span>
                        <i class="small phone"></i>
                        <p>+31 (0) 23 792 00 02</p>
                    </li>

                    <li class="whatsapp icon">
                        <span class="helper"></span>
                        <i></i>
                    </li>
                    <li class="text">
                        <span class="helper"></span>
                        <i class="small whatsapp"></i>
                        <p>WhatsApp 06 55 23 29 11</p>
                    </li>

                    <li class="mail icon">
                        <span class="helper"></span>
                        <i></i>
                    </li>
                    <li class="text">
                        <span class="helper"></span>
                        <i class="small mail"></i>
                        <p>info@autoservicehaarlem.nl</p>
                    </li>

                    <li class="chat icon">
                        <span class="helper"></span>
                        <i></i>
                    </li>
                    <li class="text">
                        <span class="helper"></span>
                        <i class="small chat"></i>
                        <p>Chat met een medewerker</p>
                    </li>

                </ul>
            </div>
        </div>
    </section>
    <section class="contact footer_main">
        <div class="wrapper">
            <div class="container-fluid">

                <div class="Adres">
                    <h4>Adres & openingstijden</h4>
                    <ul class="first_col">
                        <li class="bold">Auto Service Haarlem</li>
                        <li>Munterslaan 2</li>
                        <li>2014 KW Haarlem</li>
                    </ul>
                    <ul>
                        <li class="bold">Maandag t/m vrijdag</li>
                        <li>Van 9.00 tot 18.00 uur</li>
                        <li class="bold">Donderdag avond koopavond tot</li>
                        <li>20.00 uur.</li>
                        <li class="bold">Zaterda</li>
                        <li>Van 9.00 tot 17.00 uur</li>
                        <li class="bold">Zondag</li>
                        <li>Open van 12-16.00 uur !</li>
                    </ul>
                </div>

                <div class="Klantenservice">
                    <h4>Klantenservice & Financieringen</h4>
                    <div class="first_col">
                        <ul>
                            <li><a href="../homepage/homepage.php">Home</a></li>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">Totale voorraad</a></li>
                            <li><a href="#">Wie zijn wij?</a></li>
                            <li><a href="#">Onze zekerheden</a></li>
                        </ul>
                        <ul>
                            <li><a href="../financierings_pagina/financierings_pagina.php">Financiering</a></li>
                            <li><a href="../50_50_deals/50_50_deals.php">50/50 deals</a></li>
                            <li><a href="../financierings_pagina/financierings_pagina.php">Auto lease - de mogelijkheden</a></li>
                            <li><a href="../financierings_pagina/financierings_pagina.php">Auto op afbetaling</a></li>
                            <li><a href="../financierings_pagina/financierings_pagina.php">Full Operationeel Lease</a></li>
                            <li><a href="../financierings_pagina/financierings_pagina.php">Leasen gebruikte autos</a></li>
                            <li><a href="../financierings_pagina/financierings_pagina.php">Voordelen van Financial Lease</a></li>
                            <li><a href="../particuliere_financieringen/particuliere_financierigen.php">Particuliere Financieringen</a></li>
                            <li><a href="../zakelijke_financiering/zakelijke_financiering.php">Zakelijke Financieringen</a></li>
                        </ul>
                    </div>
                    <div class="second_col">
                        <ul>
                            <li><a href="#">Veel gestelde vragen</a></li>
                            <li><a href="#">Algemene voorwaarden</a></li>
                            <li><a href="#">Disclaimer</a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="../referentie_pagina/referentie_pagina.php">Referentie Pagina</a></li>
                            <li><a href="../link_pagina/link_pagina.php">link pagina</a></li>
                            <li><a href="../merken_pagina/merken_pagina.php">Merk Pagina</a></li>
                        </ul>
                    </div>
                </div>
                <div class="tot_voorraad">
                    <h4>Totale voorraad</h4>
                    <div class="first_col">
                        <ul>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">Alfa Romeo (2)</a></li>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">Audi (201)</a></li>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">Bentley (1)</a></li>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">BMW (111)</a></li>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">Citroën (6)</a></li>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">Fiat (4)</a></li>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">Ford (13)</a></li>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">Honda (13)</a></li>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">Hyundai (7)</a></li>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">Kia (3)</a></li>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">Land Rover (2)</a></li>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">Lexus (16)</a></li>
                        </ul>
                    </div>
                    <div class="second_col">
                        <ul>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">Mercedes-Benz (24)</a></li>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">Mitsubishi (13)</a></li>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">Nissan (28)</a></li>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">Opel (31)</a></li>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">Peugeot (13)</a></li>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">Porsche (3)</a></li>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">Renault (15)</a></li>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">Seat (13)</a></li>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">Toyota (34)</a></li>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">Volkswagen (197)</a></li>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">Volvo (34)</a></li>
                            <li><a href="../voorraad_pagina/voorraad_pagina.php">Škoda (21)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer_smart">

        <h4><span>Vragen?</span> Wij zijn bereikbaar via:</h4>

        <ul class="berijkbaar_menu">
            <li class="phone">
                <a href="#">
                    <span class="helper"></span>
                    <i class="phone"></i>
                    <p>+31 (0) 23 792 00 03</p>
                </a>
            </li>
            <li class="whatsapp">
                <a href="#">
                    <span class="helper"></span>
                    <i class="whatsapp"></i>
                    <p>WhatsApp 06 55 23 29 11</p>
                </a>
            </li>
            <li class="mail">
                <a href="#">
                    <span class="helper"></span>
                    <i class="mail"></i>
                    <p>info@autoservicehaarlem.nl</p>
                </a>
            </li>
            <li class="chat">
                <a href="#">
                    <span class="helper"></span>
                    <i class="chat"></i>
                    <p>Chat met een medewerker</p>
                </a>
            </li>
        </ul>

        <ul class="menu">
            <li class="adres expand_menu">
                <p>Adres & openingstijden</p>
                <%= image_tag 'arrow_down_orange.png' %>

                <div class="expand">
                    <ul>
                        <li class="bold">Auto Service Haarlem</li>
                        <li>Munterslaan 2</li>
                        <li>2014 KW Haarlem</li>
                    </ul>

                    <ul>
                        <li class="bold">Maandag t/m vrijdag</li>
                        <li>Van 9.00 tot 18.00 uur</li>
                        <li class="bold">Donderdag avond koopavond tot</li>
                        <li>20.00 uur.</li>
                        <li class="bold">Zaterdag</li>
                        <li>Van 9.00 tot 17.00 uur</li>
                        <li class="bold">Zondag</li>
                        <li>Open van 12-16.00 uur !</li>
                    </ul>
                </div>
            </li>
            <li class="klantenservice expand_menu">
                <p>Klantenservice & Financieringen</p>
                <%= image_tag 'arrow_down_orange.png' %>

                <div class="expand">
                    <ul>
                        <li><a href="#">Veel gestelde vragen</a></li>
                        <li><a href="#">Algemene voorwaarden</a></li>
                        <li><a href="#">Disclaimer</a></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="../contact_pagina/contact_pagina.php">Contact</a></li>
                    </ul>

                    <ul>
                        <li><a href="../financierings_pagina/financierings_pagina.php">Financiering</a></li>
                        <li><a href="../50_50_deals/50_50_deals.php">50/50 deals</a></li>
                        <li><a href="#">Auto lease - de mogelijkheden</a></li>
                        <li><a href="#">Auto op afbetaling</a></li>
                        <li><a href="#">Full Operationeel Lease</a></li>
                        <li><a href="#">Leasen gebruikte autos</a></li>
                        <li><a href="#">Voordelen van Financial Lease</a></li>
                        <li><a href="../referentie_pagina/referentie_pagina.php">Referenties</a></li>
                        <li><a href="../link_pagina/link_pagina.php">Link Partners</a></li>
                        <li><a href="../zakelijke_financiering/zakelijke_financiering.php">Zakelijke Financieringen</a></li>
                        <li><a href="../particuliere_financieringen/particuliere_financierigen.php">Particuliere Financieringen</a></li>
                        <li><a href="../merken_pagina/merken_pagina.php">Merken Pagina</a></li>
                    </ul>
                </div>
            </li>
            <li class="voorraad expand_menu">
                <p>Voorraad</p>
                <%= image_tag 'arrow_down_orange.png' %>

                <div class="expand">
                    <ul>
                        <li class="search">
                            <form>
                                <input type="text" placeholder="Type hier je merk..">
                            </form>
                        </li>
                        <li class="img">
                            <span class="helper"></span>
                            <figure>
                                <span class="helper"></span>
                                <img src="../../assets/images/sub_car1.png" alt="">
                            </figure>
                            <p>Audi (201)</p>
                        </li>
                        <li class="img">
                            <span class="helper"></span>
                            <figure>
                                <span class="helper"></span>
                                <img src="../../assets/images/sub_car2.png" alt="">
                            </figure>
                            <p>BMW (111)</p>
                        </li>
                        <li class="img">
                            <span class="helper"></span>
                            <figure>
                                <span class="helper"></span>
                                <img src="../../assets/images/sub_car3.png" alt="">
                            </figure>
                            <p>Mercedes (16)</p>
                        </li>
                        <li class="img">
                            <span class="helper"></span>
                            <figure>
                                <span class="helper"></span>
                                <img src="../../assets/images/sub_car4.png" alt="">
                            </figure>
                            <p>Volkswagen (197)</p>
                        </li>
                        <li class="img">
                            <span class="helper"></span>
                            <figure>
                                <span class="helper"></span>
                                <img src="../../assets/images/sub_car1.png" alt="">
                            </figure>
                            <p>Audi (201)</p>
                        </li>
                        <li class="img">
                            <span class="helper"></span>
                            <figure>
                                <span class="helper"></span>
                                <img src="../../assets/images/sub_car2.png" alt="">
                            </figure>
                            <p>BMW (111)</p>
                        </li>
                        <li class="img">
                            <span class="helper"></span>
                            <figure>
                                <span class="helper"></span>
                                <img src="../../assets/images/sub_car3.png" alt="">
                            </figure>
                            <p>Mercedes (16)</p>
                        </li>
                        <li class="img">
                            <span class="helper"></span>
                            <figure>
                                <span class="helper"></span>
                                <img src="../../assets/images/sub_car4.png" alt="">
                            </figure>
                            <p>Volkswagen (197)</p>
                        </li>
                        <li class="img">
                            <span class="helper"></span>
                            <figure>
                                <span class="helper"></span>
                                <img src="../../assets/images/sub_car1.png" alt="">
                            </figure>
                            <p>Audi (201)</p>
                        </li>
                        <li class="img">
                            <span class="helper"></span>
                            <figure>
                                <span class="helper"></span>
                                <img src="../../assets/images/sub_car2.png" alt="">
                            </figure>
                            <p>BMW (111)</p>
                        </li>
                        <li class="img">
                            <span class="helper"></span>
                            <figure>
                                <span class="helper"></span>
                                <img src="../../assets/images/sub_car3.png" alt="">
                            </figure>
                            <p>Mercedes (16)</p>
                        </li>
                        <li class="img">
                            <span class="helper"></span>
                            <figure>
                                <span class="helper"></span>
                                <img src="../../assets/images/sub_car4.png" alt="">
                            </figure>
                            <p>Volkswagen (197)</p>
                        </li>
                        <li class="img">
                            <span class="helper"></span>
                            <figure>
                                <span class="helper"></span>
                                <img src="../../assets/images/sub_car1.png" alt="">
                            </figure>
                            <p>Audi (201)</p>
                        </li>
                        <li class="img">
                            <span class="helper"></span>
                            <figure>
                                <span class="helper"></span>
                                <img src="../../assets/images/sub_car2.png" alt="">
                            </figure>
                            <p>BMW (111)</p>
                        </li>
                        <li class="img">
                            <span class="helper"></span>
                            <figure>
                                <span class="helper"></span>
                                <img src="../../assets/images/sub_car3.png" alt="">
                            </figure>
                            <p>Mercedes (16)</p>
                        </li>
                        <li class="img">
                            <span class="helper"></span>
                            <figure>
                                <span class="helper"></span>
                                <img src="../../assets/images/sub_car4.png" alt="">
                            </figure>
                            <p>Volkswagen (197)</p>
                        </li>
                        <li class="img">
                            <span class="helper"></span>
                            <figure>
                                <span class="helper"></span>
                                <img src="../../assets/images/sub_car1.png" alt="">
                            </figure>
                            <p>Audi (201)</p>
                        </li>
                        <li class="img">
                            <span class="helper"></span>
                            <figure>
                                <span class="helper"></span>
                                <img src="../../assets/images/sub_car2.png" alt="">
                            </figure>
                            <p>BMW (111)</p>
                        </li>
                        <li class="img">
                            <span class="helper"></span>
                            <figure>
                                <span class="helper"></span>
                                <img src="../../assets/images/sub_car3.png" alt="">
                            </figure>
                            <p>Mercedes (16)</p>
                        </li>
                        <li class="img">
                            <span class="helper"></span>
                            <figure>
                                <span class="helper"></span>
                                <img src="../../assets/images/sub_car4.png" alt="">
                            </figure>
                            <p>Volkswagen (197)</p>
                        </li>
                        <li class="img">
                            <span class="helper"></span>
                            <figure>
                                <span class="helper"></span>
                                <img src="../../assets/images/sub_car1.png" alt="">
                            </figure>
                            <p>Audi (201)</p>
                        </li>
                        <li class="img">
                            <span class="helper"></span>
                            <figure>
                                <span class="helper"></span>
                                <img src="../../assets/images/sub_car2.png" alt="">
                            </figure>
                            <p>BMW (111)</p>
                        </li>
                        <li class="img">
                            <span class="helper"></span>
                            <figure>
                                <span class="helper"></span>
                                <img src="../../assets/images/sub_car3.png" alt="">
                            </figure>
                            <p>Mercedes (16)</p>
                        </li>
                        <li class="img">
                            <span class="helper"></span>
                            <figure>
                                <span class="helper"></span>
                                <img src="../../assets/images/sub_car4.png" alt="">
                            </figure>
                            <p>Volkswagen (197)</p>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </section>
</section>

