<section class="nieuwsbrief">
  <div class="wrapper">
    <div class="container-fluid">
      <h3>Op de hoogte blijven van onze dagelijks vernieuwende voorraad?</h3>
      <p>Schrijf je dan hier in<span>voor onze nieuwsbrief!</span></p>

      <form action="//autoservicehaarlem.us10.list-manage.com/subscribe/post?u=44430860a9c40c3e2dbade7c2&amp;id=92a5ce40fb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate news_letter" target="_blank" novalidate>
        <div class="first-row">
          <input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="Vul hier je voornaam in">
          <input type="text" value="" name="LNAME" class="" id="mce-LNAME" placeholder="Vul hier je achternaam in">
        </div>
        <div class="second-row">
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Vul hier je e-mail adres in">
          <button type="submit" value="Subscribe" class="orange_btn">Verstuur inschrijving</button>
        </div>
      </form>
    </div>
  </div>
</section>
