<section class="zoek_nu">
  <div class="wrapper">
    <div class="container-fluid">

      <div class="title">
        <h2>Zoek nu uw nieuwe lease auto uit</h2>
        <h2 class="small_device">Vind hier uw nieuwe auto!</h2>
      </div>

      <div class="search">
        <div class="altabs">
          <div class="tab finance" data-submenu="financieren"><p>Ik wil graag een auto financieren..</p><span>Auto financieren</span></div>
          <div class="tab kopen active" data-submenu="kopen"><p>Ik wil graag een auto kopen..</p><span>Auto kopen</span></div>
        </div>

        <section class="financieren car_search">

          <h3>Ik wil graag een auto financieren en per maand betalen</h3>

          <div class="searchbox">
            <div class="row select">
              <div class="select_col col">
                <p>Merk:</p>
                <div class="select">
                  <span class="arrow"></span>
                  <select name="merk" class="merk_dropdown">
                    <option>Selecteer merk</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                  </select>
                </div>
              </div>

              <div class="select_col col">
                <p>Model:</p>
                <div class="select">
                  <span class="arrow"></span>
                  <select name="merk" class="merk_dropdown">
                    <option>Kies eerst een merk</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row select">
              <div class="select_col col">
                <p>Brandstof:</p>
                <div class="select">
                  <span class="arrow"></span>
                  <select name="merk" class="merk_dropdown">
                    <option>Selecteer voorkeur</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                  </select>
                </div>
              </div>

              <div class="select_col col">
                <p>Carrosserie:</p>
                <div class="select">
                  <span class="arrow"></span>
                  <select name="merk" class="merk_dropdown">
                    <option>Selecteer voorkeur</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row select">
              <div class="select_col col">
                <p>Transmissi:</p>
                <div class="select">
                  <span class="arrow"></span>
                  <select name="merk" class="merk_dropdown">
                    <option>Selecteer voorkeur</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                  </select>
                </div>
              </div>

              <div class="select_col col col_small">
                <p>Bouwjaar van:</p>
                <div class="select">
                  <span class="arrow"></span>
                  <select name="merk" class="merk_dropdown">
                    <option>Selecteer</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                  </select>
                </div>
              </div>
              <div class="select_col col col_small">
                <p>Bouwjaar tot:</p>
                <div class="select">
                  <span class="arrow"></span>
                  <select name="merk" class="merk_dropdown">
                    <option>Selecteer</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row slider">
              <div class="slider_col col">
                <p>Prijs per maand tot</p>
                <div id="slider_maand_financieren"></div>
              </div>
              <div class="slider_col col">
                <p>Prijs tot</p>
                <div id="slider_buy_financieren"></div>
              </div>
            </div>

            <div class="row zoeken">
              <div class="zoeken_col col">
                <%= image_tag 'akp_zoek_logo.png' %>
              </div>
              <div class="zoeken_col col">
                <div class="orange_btn">Zoeken (882)</div>
              </div>
            </div>
          </div>
        </section>

        <section class="kopen car_search active">

          <h3>Ik wil graag een auto kopen..</h3>

          <div class="searchbox">
            <div class="row select">
              <div class="select_col col">
                <p>Merk:</p>
                <div class="select">
                  <span class="arrow"></span>
                  <select name="merk" class="merk_dropdown">
                    <option>Selecteer merk</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                  </select>
                </div>
              </div>

              <div class="select_col col">
                <p>Model:</p>
                <div class="select">
                  <span class="arrow"></span>
                  <select name="merk" class="merk_dropdown">
                    <option>Kies eerst een merk</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row select">
              <div class="select_col col">
                <p>Brandstof:</p>
                <div class="select">
                  <span class="arrow"></span>
                  <select name="merk" class="merk_dropdown">
                    <option>Selecteer voorkeur</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                  </select>
                </div>
              </div>

              <div class="select_col col">
                <p>Carrosserie:</p>
                <div class="select">
                  <span class="arrow"></span>
                  <select name="merk" class="merk_dropdown">
                    <option>Selecteer voorkeur</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row select">
              <div class="select_col col">
                <p>Transmissi:</p>
                <div class="select">
                  <span class="arrow"></span>
                  <select name="merk" class="merk_dropdown">
                    <option>Selecteer voorkeur</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                  </select>
                </div>
              </div>

              <div class="select_col col col_small">
                <p>Bouwjaar van:</p>
                <div class="select">
                  <span class="arrow"></span>
                  <select name="merk" class="merk_dropdown">
                    <option>Selecteer</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                  </select>
                </div>
              </div>
              <div class="select_col col col_small">
                <p>Bouwjaar tot:</p>
                <div class="select">
                  <span class="arrow"></span>
                  <select name="merk" class="merk_dropdown">
                    <option>Selecteer</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>opel</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                    <option>fiat</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row slider">
              <div class="slider_col col">
                <p>Prijs per maand tot</p>
                <div id="slider_maand_kopen"></div>
              </div>
              <div class="slider_col col">
                <p>Prijs tot</p>
                <div id="slider_buy_kopen"></div>
              </div>
            </div>

            <div class="row zoeken">
              <div class="zoeken_col col">
              </div>
              <div class="zoeken_col col">
                <div class="orange_btn">Zoeken (882)</div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</section>